<!doctype html>
<html>
	<head>
		<title>app</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="关键字" />
		<meta name="description"  content="一些描述" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
		<% if (process.env.NODE_ENV === 'development') { %>
			<!-- <script src="./debugger/vconsole.min.js"></script> -->
		<% } %>


	</head>
	<body ontouchstart>

		<div id="root">
			<div class="loading-page">
				加载动画.....
			</div>
		</div>
		<script  async src="https://cdn.bootcss.com/babel-polyfill/6.22.0/polyfill.min.js"></script>
		<% if (process.env.NODE_ENV === 'development') { %>
			<script src="./static/scripts/common/vendor.js"></script>
		<% } else { %>
			<script  src="./static/scripts/common/vendor.min.js"></script>
		<% } %>
	</body>
</html>
